<div class="container" id="body">
  <div class="row">
    <div class="col-md-3" id="sideNav"> 
      <h4 >Choose your activity</h4>
      <ul> 
        <li> Lean Canvas <a href="/lean_canvas" class="btn btn-primary" role="button"> Begin</a></li>
        <li> Features Pyramid <a href="/lean_canvas" class="btn btn-default" disabled="disabled"> Begin</a></li>
        <li> User Personas <a href="/lean_canvas" class="btn btn-default" disabled="disabled"> Begin</a></li>
        <li> Activity 4 <a href="/lean_canvas" class="btn btn-default" disabled="disabled"> Begin</a></li>
        <li> Activity 5 <a href="/lean_canvas" class="btn btn-default" disabled="disabled"> Begin</a></li>

      </ul>

    </div>

    <div class="col-md-9" id="mainDash"> 
      <h3> Your Dashboard</h3>
      <div id="firstActivity">
        <div id="topAct"></div>
        <div id='bottomAct'>
          <h4>Lean Canvas</h4>
          <p> Click the button to begin your lean canvas activity!</p>
          <a href="/lean_canvas" class="btn btn-primary" role="button"> Begin</a>
        </div>
      </div>

      <div id="firstActivity">
        <div id="topAct"></div>
        <div id='bottomAct'>
          <h4>Lean Canvas</h4>
          <p> Click the button to continue your lean canvas activity!</p>
          <a href="/lean_canvas" class="btn btn-warning" disabled="disabled"> Continue</a>
        </div>
      </div>

      <div id="firstActivity">
        <div id="topAct"></div>
        <div id='bottomAct'>
          <h4>Lean Canvas</h4>
          <p> Click the button to view and export your complete lean canvas activity!</p>
          <a href="/lean_canvas" class="btn btn-success" disabled="disabled"> Export</a>
        </div>
      </div>




    </div>





  
















  </div>
</div>