body {
  // background-color: lightgrey;
  height: 100vh;
  width: 100vw;
};

.container{
  width: 1200px;
}

#sideNav {
  position: relative;
  margin: 25px 0;
  height: 40vh;
  // border: 1px solid blue;
}

#mainDash {
  position: relative;
  margin: 10px 0;
  height: 80vh;
  // border: 1px solid red;
}

ul {
  list-style: none;
    li{
      font-size: 16px;
    }
};

#firstActivity{
  border: 1px solid grey;
  border-radius: 12px;
  height: 320px;
  width: 280px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  
  #topAct {
    height: 150px;
    width: 280px;
    background-color: grey;
    border-radius: 10px 10px 0 0;
  }

  #bottomAct {
    padding: 5px;
  }

};